<!DOCTYPE html>
<html>

<head>
    <title>MY WEB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/fonts/font-awesome.min.css" text="txt/css">
    <link rel="stylesheet" href="vendors/css/bootstrap.min.css" text="txt/css">
    <link rel="stylesheet" href="resources/css/blog.css" text="txt/css">
    <link rel="stylesheet" href="resources/css/form-post.css" text="txt/css">


    <script src="slide.js"></script>
</head>

<body>
    <div class="blog-con">
        <!-- navbar -->
        <nav class="nav-cus-bgcolor-opacity navbar navbar-expand-lg navbar-light bg-light">
            <div class="container contaner-cus-padding">
                <a class="navbar-brand" href="index.html"><img src="resources/img/logo.PNG" width="120px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="store.html">Store</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-j">
            <h1>BLOG</h1>
            <div class="container-wrapper-j">
                <div class="share-com-j">
                    <a href="#" class="share-icon"><i class="fa fa-share-alt" aria-hidden="true"> share</i></a>
                    <div class="icon-share-j">
                        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="post-j">
                    <div class="head-form-post">
                        <h2>One Planet: UN enviro chief, urban biodiversity and rapid evolution</h1>
                            <p class="author-j">-JIM KHAN-<br /><i class="fa fa-clock-o" aria-hidden="true"></i><span
                                    class="day-post-j"> 3/8/2000</span></p>
                    </div>
                    <div class="content-f-p">
                        The US has more than doubled tariffs on $200bn (£153.7bn) worth of Chinese products, in a sharp
                        escalation of the countries' damaging trade war.

                        Tariffs on affected Chinese goods have risen to 25% from 10%, and Beijing has vowed to
                        retaliate.

                        China says it "deeply regrets" the move and will have to take "necessary counter-measures."

                        It comes as high-level officials from both sides are attempting to salvage a trade deal in
                        Washington.

                        Only recently, the US and China appeared to be close to ending months of trade tensions.

                        China's Commerce Ministry confirmed the latest US tariff increase on its website.

                        "It is hoped that the US and the Chinese sides will work together... to resolve existing
                        problems through co-operation and consultation," it said in a statement.

                        Tariffs are taxes paid by importers on foreign goods, so the 25% tariff will be paid by American
                        companies who bring Chinese goods into the country.

                        The US-China trade war in charts
                        The next US-China battleground
                        US-China trade war in 300 words
                        Chinese stock markets rose on Friday, with the Hang Seng index up less than 1% and the Shanghai
                        Composite more than 3% higher.

                        However, earlier in the week stock markets had fallen after US President Donald Trump flagged
                        the tariff rise on Sunday.

                        The US imposed a 10% tariff on $200bn worth of Chinese products - including fish, handbags,
                        clothing and footwear - last year.

                        The tariff was due to rise at the start of the year, but the increase was delayed as
                        negotiations advanced.

                        What will be the impact of the tariff rise?
                        The US-China trade war has weighed on the global economy over the past year and created
                        uncertainty for businesses and consumers.

                        Even though Mr Trump has downplayed the impact of tariffs on the US economy, the rise is likely
                        to affect some American companies and consumers as firms may pass on some of the cost, analysts
                        said.

                        Deborah Elms, executive director at the Asian Trade Centre, said: "It's going to be a big shock
                        to the economy.

                        "Those are all US companies who are suddenly facing a 25% increase in cost, and then you have to
                        remember that the Chinese are going to retaliate."

                        Image copyrightGETTY IMAGES
                        Image caption
                        US and Chinese officials have held several round of talks in an attempt to strike a deal to end
                        the trade war.
                        In a statement, the American Chamber of Commerce in China said it was committed to helping both
                        sides find a "sustainable" solution.

                        "While we are disappointed that the stakes have been raised, we nevertheless support the ongoing
                        effort by both sides to reach agreement on a strong, enforceable deal that resolves the
                        fundamental, structural issues our members have long faced in China."

                        French Finance Minister Bruno Le Maire warned that the trade dispute escalation threatened jobs
                        across Europe.

                        "There is no greater threat to world growth," Mr Le Maire told CNews. "It would mean that trade
                        tariffs go up, fewer goods would circulate around the world... and jobs in France and in Europe
                        would be destroyed."


                    </div>
                    <div class="info-author-j">

                    </div>
                    <div class="comment-j">

                    </div>
                </div>
                <div class="filter">
                    <p>FILTER BY</p>
                    <ul>
                        <li><a href="#all">All</li>
                        <li><a href="#news">Articles</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-j">
            <div class="content-footer">
                <a href="">PROTECT A FOREST</a>
                <a href="">WHY IT MATTERS</a>
                <a href="">SUPPORTERS</a>
                <a href="">FAQS</a>
                <a href="">SUPPORTERS</a>
                <a href="">FAQS</a>
                <a href="">SUPPORTERS</a>
                <a href="">FAQS</a>
                <a href="">SUPPORTERS</a>
            </div>
            <div class="design-j">
                <div class="community-j">
                    <p>FOLLOW US: </p>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <div class="sign-web">
                        <p>©2015 STAND FOR TREES | Site design by JK</p>
                </div>
            </div>
        </div>
</body>

</html>