<!DOCTYPE html>
<html>

<head>
    <title>MY WEB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/fonts/font-awesome.min.css" text="txt/css">
    <link rel="stylesheet" href="vendors/css/bootstrap.min.css" text="txt/css">
    <link rel="stylesheet" href="resources/css/blog.css" text="txt/css">
    <link rel="stylesheet" href="resources/css/form-post.css" text="txt/css">
    <link rel="stylesheet" href="resources/css/style.css" text="txt/css">
    <script src="resources/js/slide.js"></script>
</head>

<body>
    <div class="sli-con">
        <!-- navbar -->
        <nav class="nav-cus-bgcolor-opacity navbar navbar-expand-lg navbar-light bg-light">
            <div class="container contaner-cus-padding">
                <a class="navbar-brand" href="index.html"><img src="resources/img/logo.PNG" width="120px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="store.html"">Store</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="blog.html">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- contanier -->
        <div class="sli-inner">
            <div class="sli">
                <div class="sli-content s1">
                    <div class="s-c-1">
                        <div class="NATURE-j">
                            <p>
                                <span>N</span>
                                <span>A</span>
                                <span>T</span>
                                <span>U</span>
                                <span>R</span>
                                <span>E</span>
                            </p>
                        </div>
                    </div>
                    <div class="s-c-2">
                        <div class="c-2">
                                <h2>WE INSPIRE AWARENESS OF THE VALUE OF FORESTS THROUGH ART, INFORMATION, AND TECHNOLOGY.
                                </h2>
                                <a href="#" class="btt">JOIN IN WITH US</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sli">
                <div class="sli-content s2">
                    <div class="head-team">
                        <h2>OUR TEAM</h3>
                            <p>Your purchase helps save the world's most threatened species from extinction by
                                protecting some of the world's richest biodiversity hotspots.</p>
                    </div>
                    <div class="team">
                        <div class="team-card">
                            <div class="t-card-ava"><img src="resources/img/john.jpg" alt="Jane" style="width:100%"></div>
                            <div class="t-card-content">
                                <h2>Jane Doe</h2>
                                <p class="title">CEO & Founder</p>
                                <div class="card-icon">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa instagram" aria-hidden="true"></i>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>

                            </div>
                        </div>
                        <div class="team-card">
                            <div class="t-card-ava"><img src="resources/img/john.jpg" alt="Jane" style="width:100%"></div>
                            <div class="t-card-content">
                                <h2>Mike Ross</h2>
                                <p class="title">Art Director</p>
                                <div class="card-icon">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa instagram" aria-hidden="true"></i>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="team-card">
                            <div class="t-card-ava"><img src="resources/img/john.jpg" alt="Jane" style="width:100%"></div>
                            <div class="t-card-content">
                                <h2>John Doe</h2>
                                <p class="title">Designer</p>
                                <div class="card-icon">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa instagram" aria-hidden="true"></i>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttonslide -->
        <ul class="button-slide-container">
            <li>
                <p>1</p>
                <a href="#about" onclick="currentSlide(0)">Home</a>
            </li>
            <li>
                <p>2</p>
                <a href="#about" onclick="currentSlide(1)">Team</a>
            </li>
            <li>
                <p>3</p>
                <a href="#about" onclick="currentSlide(2)">Explorer</a>
            </li>
            <li>
                <p>4</p>
                <a href="#about" onclick="currentSlide(3)">About Us</a>
            </li>

        </ul>
    </div>
</body>

</html>